# Práctica 02
---

In [ ]:
%pip install numpy
%pip install pandas
%pip install seaborn
%pip install matplotlib

## Cargar librerías
---

In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## Cargar dataset
---

In [5]:
df = pd.read_csv('data/data_senamhi.csv')
df.head()

,ID,ESTACION,FECHA,HORA,LONGITUD,LATITUD,ALTITUD,PM10,PM2_5,NO2,DEPARTAMENTO,PROVINCIA,DISTRITO,UBIGEO,FECHA_CORTE
0,1,CAMPO_DE_MARTE,20150101,50000,-77.0432,-12.0705,117.0,37.92,NaN,NaN,LIMA,LIMA,JESUS_MARIA,150113.0,20240531
1,2,CAMPO_DE_MARTE,20150101,60000,-77.0432,-12.0705,117.0,153.39,NaN,NaN,LIMA,LIMA,JESUS_MARIA,150113.0,20240531
2,3,CAMPO_DE_MARTE,20150101,70000,-77.0432,-12.0705,117.0,116.49,NaN,NaN,LIMA,LIMA,JESUS_MARIA,150113.0,20240531
3,4,CAMPO_DE_MARTE,20150101,80000,-77.0432,-12.0705,117.0,80.74,NaN,NaN,LIMA,LIMA,JESUS_MARIA,150113.0,20240531
4,5,CAMPO_DE_MARTE,20150101,90000,-77.0432,-12.0705,117.0,27.40,NaN,NaN,LIMA,LIMA,JESUS_MARIA,150113.0,20240531

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577794 entries, 0 to 577793
Data columns (total 15 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ID            577794 non-null  int64
 1   ESTACION      577794 non-null  object
 2   FECHA         577794 non-null  int64
 3   HORA          577794 non-null  int64
 4   LONGITUD      577794 non-null  float64
 5   LATITUD       577794 non-null  float64
 6   ALTITUD       577794 non-null  float64
 7   PM10          380982 non-null  float64
 8   PM2_5         367591 non-null  float64
 9   NO2           299192 non-null  float64
 10  DEPARTAMENTO  577794 non-null  object
 11  PROVINCIA     577794 non-null  object
 12  DISTRITO      577794 non-null  object
 13  UBIGEO        577794 non-null  float64
 14  FECHA_CORTE   577794 non-null  int64
dtypes: float64(7), int64(4), object(4)
memory usage: 66.1+ MB

In [8]:
df.describe()

,ID,FECHA,HORA,LONGITUD,LATITUD,ALTITUD,PM10,PM2_5,NO2,UBIGEO,FECHA_CORTE
count,577794.000000,5.777940e+05,577794.000000,577794.000000,577794.000000,577794.000000,380982.000000,367591.000000,299192.000000,577794.000000,577794.0
mean,288897.500000,2.019287e+07,114991.640619,-77.008514,-12.040171,177.857143,61.835134,24.253347,22.532890,150128.000000,20240531.0
std,166794.905056,2.723089e+04,69226.352729,0.049144,0.080168,75.034207,46.535486,15.813837,14.979673,12.444172,0.0
min,1.000000,2.015010e+07,0.000000,-77.084500,-12.166400,56.000000,2.310000,1.730000,0.000000,150106.000000,20240531.0
25%,144449.250000,2.017051e+07,50000.000000,-77.043200,-12.108600,117.000000,30.980000,13.700000,12.000000,150113.000000,20240531.0
50%,288897.500000,2.019092e+07,110000.000000,-77.007700,-12.043000,179.000000,49.840000,20.300000,19.800000,150132.000000,20240531.0
75%,433345.750000,2.022012e+07,170000.000000,-76.971400,-11.981600,253.000000,79.070000,30.470000,29.600000,150137.000000,20240531.0
max,577794.000000,2.024053e+07,230000.000000,-76.920000,-11.902200,272.000000,974.000000,720.700000,231.200000,150143.000000,20240531.0

In [11]:
print("Columnas del dataset")
print(df.columns.to_list())

Columnas del dataset
['ID', 'ESTACION', 'FECHA', 'HORA', 'LONGITUD', 'LATITUD', 'ALTITUD', 'PM10', 'PM2_5', 'NO2', 'DEPARTAMENTO', 'PROVINCIA', 'DISTRITO', 'UBIGEO', 'FECHA_CORTE']

In [12]:
print("Valores nulos por columna: ")
print(df.isnull().sum())

Valores nulos por columna:
ID                   0
ESTACION             0
FECHA                0
HORA                 0
LONGITUD             0
LATITUD              0
ALTITUD              0
PM10            196812
PM2_5           210203
NO2             278602
DEPARTAMENTO         0
PROVINCIA            0
DISTRITO             0
UBIGEO               0
FECHA_CORTE          0
dtype: int64

## Limpieza de datos
---

In [118]:
df_clean = df.copy()

### Formato de fecha

In [119]:
df_clean['FECHA']

0         20150101
1         20150101
2         20150101
3         20150101
4         20150101
            ...
577789    20240531
577790    20240531
577791    20240531
577792    20240531
577793    20240531
Name: FECHA, Length: 577794, dtype: int64

In [120]:
df_clean['FECHA'] = pd.to_datetime(df_clean['FECHA'], format='%Y%m%d')
df_clean['FECHA']

0        2015-01-01
1        2015-01-01
2        2015-01-01
3        2015-01-01
4        2015-01-01
            ...
577789   2024-05-31
577790   2024-05-31
577791   2024-05-31
577792   2024-05-31
577793   2024-05-31
Name: FECHA, Length: 577794, dtype: datetime64[ns]

### Formato de hora

In [121]:
df_clean['HORA'] = df_clean['HORA'].astype(str).str.zfill(6)
df_clean['HORA'][:21]

0     050000
1     060000
2     070000
3     080000
4     090000
5     100000
6     110000
7     120000
8     130000
9     140000
10    150000
11    160000
12    170000
13    180000
14    190000
15    200000
16    210000
17    220000
18    230000
19    000000
20    010000
Name: HORA, dtype: object

In [122]:
df_clean['HORA'] = pd.to_datetime(df_clean['HORA'], format='%H%M%S').dt.time
df_clean['HORA'][:21]

0     05:00:00
1     06:00:00
2     07:00:00
3     08:00:00
4     09:00:00
5     10:00:00
6     11:00:00
7     12:00:00
8     13:00:00
9     14:00:00
10    15:00:00
11    16:00:00
12    17:00:00
13    18:00:00
14    19:00:00
15    20:00:00
16    21:00:00
17    22:00:00
18    23:00:00
19    00:00:00
20    01:00:00
Name: HORA, dtype: object

### Nuevas columnas DATETIME, AÑO, MES y DIA

In [123]:
df_clean['DATETIME'] = df_clean.apply(lambda row: pd.Timestamp.combine(row['FECHA'], row['HORA']), axis=1)
df_clean['DATETIME']

0        2015-01-01 05:00:00
1        2015-01-01 06:00:00
2        2015-01-01 07:00:00
3        2015-01-01 08:00:00
4        2015-01-01 09:00:00
                 ...
577789   2024-05-31 19:00:00
577790   2024-05-31 20:00:00
577791   2024-05-31 21:00:00
577792   2024-05-31 22:00:00
577793   2024-05-31 23:00:00
Name: DATETIME, Length: 577794, dtype: datetime64[ns]

In [124]:
df_clean['ANIO'] = df_clean['DATETIME'].dt.year
df_clean['MES'] = df_clean['DATETIME'].dt.month
df_clean['DIA'] = df_clean['DATETIME'].dt.day

df_clean.head()

,ID,ESTACION,FECHA,HORA,LONGITUD,LATITUD,ALTITUD,PM10,PM2_5,NO2,DEPARTAMENTO,PROVINCIA,DISTRITO,UBIGEO,FECHA_CORTE,DATETIME,ANIO,MES,DIA
0,1,CAMPO_DE_MARTE,2015-01-01,05:00:00,-77.0432,-12.0705,117.0,37.92,NaN,NaN,LIMA,LIMA,JESUS_MARIA,150113.0,20240531,2015-01-01 05:00:00,2015,1,1
1,2,CAMPO_DE_MARTE,2015-01-01,06:00:00,-77.0432,-12.0705,117.0,153.39,NaN,NaN,LIMA,LIMA,JESUS_MARIA,150113.0,20240531,2015-01-01 06:00:00,2015,1,1
2,3,CAMPO_DE_MARTE,2015-01-01,07:00:00,-77.0432,-12.0705,117.0,116.49,NaN,NaN,LIMA,LIMA,JESUS_MARIA,150113.0,20240531,2015-01-01 07:00:00,2015,1,1
3,4,CAMPO_DE_MARTE,2015-01-01,08:00:00,-77.0432,-12.0705,117.0,80.74,NaN,NaN,LIMA,LIMA,JESUS_MARIA,150113.0,20240531,2015-01-01 08:00:00,2015,1,1
4,5,CAMPO_DE_MARTE,2015-01-01,09:00:00,-77.0432,-12.0705,117.0,27.40,NaN,NaN,LIMA,LIMA,JESUS_MARIA,150113.0,20240531,2015-01-01 09:00:00,2015,1,1

In [125]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577794 entries, 0 to 577793
Data columns (total 19 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ID            577794 non-null  int64
 1   ESTACION      577794 non-null  object
 2   FECHA         577794 non-null  datetime64[ns]
 3   HORA          577794 non-null  object
 4   LONGITUD      577794 non-null  float64
 5   LATITUD       577794 non-null  float64
 6   ALTITUD       577794 non-null  float64
 7   PM10          380982 non-null  float64
 8   PM2_5         367591 non-null  float64
 9   NO2           299192 non-null  float64
 10  DEPARTAMENTO  577794 non-null  object
 11  PROVINCIA     577794 non-null  object
 12  DISTRITO      577794 non-null  object
 13  UBIGEO        577794 non-null  float64
 14  FECHA_CORTE   577794 non-null  int64
 15  DATETIME      577794 non-null  datetime64[ns]
 16  ANIO          577794 non-null  int32
 17  MES           577794 non-null  int32
 18  DIA           577794 non-null  int32
dtypes: datetime64[ns](2), float64(7), int32(3), int64(2), object(5)
memory usage: 77.1+ MB

### Eliminar registros sin datos y valores negativos

In [126]:
# Filas iniciales
print("Filas iniciales de la data:", len(df_clean))

Filas iniciales de la data: 577794

In [127]:
df_clean = df_clean.dropna(subset=['PM10', 'PM2_5', 'NO2'], how='all')
print("Filas después de eliminar nulos:", len(df_clean))

Filas después de eliminar nulos: 464638

In [131]:
# Buscar negativos
for col in ['PM10', 'PM2_5', 'NO2']:
    print((df_clean[col] < 0).sum())

0
0
0

In [145]:
for col in ['ESTACION', 'DEPARTAMENTO', 'PROVINCIA', 'DISTRITO']:
    print(df_clean[col].value_counts())
    print("=" * 40)

ESTACION
SAN_JUAN_DE_LURIGANCHO     72865
SANTA_ANITA                72454
CAMPO_DE_MARTE             71072
SAN_BORJA                  66429
CARABAYLLO                 63590
SAN_MARTIN_DE_PORRES       62148
VILLA_MARIA_DEL_TRIUNFO    56080
Name: count, dtype: int64
========================================
DEPARTAMENTO
LIMA    464638
Name: count, dtype: int64
========================================
PROVINCIA
LIMA    464638
Name: count, dtype: int64
========================================
DISTRITO
SAN_JUAN_DE_LURIGANCHO     72865
SANTA_ANITA                72454
JESUS_MARIA                71072
SAN_BORJA                  66429
CARABAYLLO                 63590
SAN_MARTIN_DE_PORRES       62148
VILLA_MARIA_DEL_TRIUNFO    56080
Name: count, dtype: int64
========================================

### Eliminar registros duplicados

In [179]:
# Buscamos filas idénticas (excepto ID)
df_temp = df_clean.copy().fillna('__NULL__')
columnas_sin_id = df_temp.columns.difference(['ID'])
duplicados_identicos = df_temp[df_temp.duplicated(subset=columnas_sin_id, keep=False)]

print(f"Total de filas idénticas: {len(duplicados_identicos)}")

# Agrupar grupos únicos duplicados
duplicados_grupos = (
    duplicados_identicos
    .groupby(list(columnas_sin_id))
    .size()
    .reset_index(name='COUNT')
    .sort_values('COUNT', ascending=False)
)

print(f"Total de grupos únicos duplicados: {len(duplicados_grupos)}")
duplicados_grupos.head(14)

Total de filas idénticas: 32
Total de grupos únicos duplicados: 14

,ALTITUD,ANIO,DATETIME,DEPARTAMENTO,DIA,DISTRITO,ESTACION,FECHA,FECHA_CORTE,HORA,LATITUD,LONGITUD,MES,NO2,PM10,PM2_5,PROVINCIA,UBIGEO,COUNT
4,179.0,2024,2024-05-30,LIMA,30,CARABAYLLO,CARABAYLLO,2024-05-30,20240531,00:00:00,-11.9022,-77.0336,5,48.0,__NULL__,__NULL__,LIMA,150106.0,4
5,179.0,2024,2024-05-30,LIMA,30,CARABAYLLO,CARABAYLLO,2024-05-30,20240531,00:00:00,-11.9022,-77.0336,5,57.1,__NULL__,__NULL__,LIMA,150106.0,4
1,56.0,2024,2024-05-30,LIMA,30,SAN_MARTIN_DE_PORRES,SAN_MARTIN_DE_PORRES,2024-05-30,20240531,00:00:00,-12.0089,-77.0845,5,__NULL__,25.63833,23.00333,LIMA,150135.0,2
0,56.0,2024,2024-05-30,LIMA,30,SAN_MARTIN_DE_PORRES,SAN_MARTIN_DE_PORRES,2024-05-30,20240531,00:00:00,-12.0089,-77.0845,5,__NULL__,25.63833,20.13166,LIMA,150135.0,2
3,56.0,2024,2024-05-30,LIMA,30,SAN_MARTIN_DE_PORRES,SAN_MARTIN_DE_PORRES,2024-05-30,20240531,00:00:00,-12.0089,-77.0845,5,__NULL__,29.07833,23.00333,LIMA,150135.0,2
2,56.0,2024,2024-05-30,LIMA,30,SAN_MARTIN_DE_PORRES,SAN_MARTIN_DE_PORRES,2024-05-30,20240531,00:00:00,-12.0089,-77.0845,5,__NULL__,29.07833,20.13166,LIMA,150135.0,2
6,240.0,2024,2024-05-30,LIMA,30,SAN_JUAN_DE_LURIGANCHO,SAN_JUAN_DE_LURIGANCHO,2024-05-30,20240531,00:00:00,-11.9816,-76.9992,5,__NULL__,48.17666,41.325,LIMA,150132.0,2
7,240.0,2024,2024-05-30,LIMA,30,SAN_JUAN_DE_LURIGANCHO,SAN_JUAN_DE_LURIGANCHO,2024-05-30,20240531,00:00:00,-11.9816,-76.9992,5,__NULL__,48.17666,41.5,LIMA,150132.0,2
8,240.0,2024,2024-05-30,LIMA,30,SAN_JUAN_DE_LURIGANCHO,SAN_JUAN_DE_LURIGANCHO,2024-05-30,20240531,00:00:00,-11.9816,-76.9992,5,__NULL__,52.43166,41.325,LIMA,150132.0,2
9,240.0,2024,2024-05-30,LIMA,30,SAN_JUAN_DE_LURIGANCHO,SAN_JUAN_DE_LURIGANCHO,2024-05-30,20240531,00:00:00,-11.9816,-76.9992,5,__NULL__,52.43166,41.5,LIMA,150132.0,2
10,253.0,2024,2024-05-30,LIMA,30,SANTA_ANITA,SANTA_ANITA,2024-05-30,20240531,00:00:00,-12.0430,-76.9714,5,__NULL__,36.84,28.63,LIMA,150137.0,2
11,253.0,2024,2024-05-30,LIMA,30,SANTA_ANITA,SANTA_ANITA,2024-05-30,20240531,00:00:00,-12.0430,-76.9714,5,__NULL__,36.84,59.63,LIMA,150137.0,2
12,253.0,2024,2024-05-30,LIMA,30,SANTA_ANITA,SANTA_ANITA,2024-05-30,20240531,00:00:00,-12.0430,-76.9714,5,__NULL__,71.87,28.63,LIMA,150137.0,2
13,253.0,2024,2024-05-30,LIMA,30,SANTA_ANITA,SANTA_ANITA,2024-05-30,20240531,00:00:00,-12.0430,-76.9714,5,__NULL__,71.87,59.63,LIMA,150137.0,2

In [182]:
df_clean = (
    df_clean
    .fillna('__NULL__')  # NaN comparables
    .drop_duplicates(subset=df_clean.columns.difference(['ID']), keep='first')
    .replace('__NULL__', np.nan)  # NaN original
)

print(f"DataFrame limpio: {len(df_clean)} filas restantes (sin duplicados idénticos).")

DataFrame limpio: 464620 filas restantes (sin duplicados idénticos).

C:\Users\guisa\AppData\Local\Temp\ipykernel_12480\2210104488.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  .replace('__NULL__', np.nan)  # NaN original

### Exportar data limpia

In [183]:
df_clean.to_csv("data/data_senamhi_clean.csv", index=False, encoding="utf-8")

print("Archivo exportado correctamente a: data/data_senamhi_clean.csv")
print(f"Total de filas exportadas: {len(df_clean)}")

Archivo exportado correctamente a: data/data_senamhi_clean.csv
Total de filas exportadas: 464620

### (particular) Duplicados por DATETIME - ESTACION

In [191]:
duplicados_df = df_clean[df_clean.duplicated(subset=['ESTACION', 'DATETIME'], keep=False)]
print(f"Total de filas involucradas en duplicados: {len(duplicados_df)}")

duplicados_df.sort_values(['ESTACION', 'DATETIME']).head()

Total de filas involucradas en duplicados: 97

,ID,ESTACION,FECHA,HORA,LONGITUD,LATITUD,ALTITUD,PM10,PM2_5,NO2,DEPARTAMENTO,PROVINCIA,DISTRITO,UBIGEO,FECHA_CORTE,DATETIME,ANIO,MES,DIA
81787,81788,CAMPO_DE_MARTE,2024-05-01,00:00:00,-77.0432,-12.0705,117.0,23.57,15.72,38.2,LIMA,LIMA,JESUS_MARIA,150113.0,20240531,2024-05-01 00:00:00,2024,5,1
81792,81793,CAMPO_DE_MARTE,2024-05-01,00:00:00,-77.0432,-12.0705,117.0,41.11,28.93,30.5,LIMA,LIMA,JESUS_MARIA,150113.0,20240531,2024-05-01 00:00:00,2024,5,1
81788,81789,CAMPO_DE_MARTE,2024-05-01,01:00:00,-77.0432,-12.0705,117.0,22.22,14.84,35.8,LIMA,LIMA,JESUS_MARIA,150113.0,20240531,2024-05-01 01:00:00,2024,5,1
81793,81794,CAMPO_DE_MARTE,2024-05-01,01:00:00,-77.0432,-12.0705,117.0,48.19,32.99,31.4,LIMA,LIMA,JESUS_MARIA,150113.0,20240531,2024-05-01 01:00:00,2024,5,1
81789,81790,CAMPO_DE_MARTE,2024-05-01,02:00:00,-77.0432,-12.0705,117.0,25.09,16.79,39.3,LIMA,LIMA,JESUS_MARIA,150113.0,20240531,2024-05-01 02:00:00,2024,5,1

In [192]:
duplicados_por_estacion = (
    duplicados_df['ESTACION']
    .value_counts()
    .reset_index()
    .rename(columns={'index': 'ESTACION', 'ESTACION': 'CANTIDAD'})
)

duplicados_por_estacion.head(10)

                  CANTIDAD  count
0           CAMPO_DE_MARTE     18
1  VILLA_MARIA_DEL_TRIUNFO     18
2                SAN_BORJA     17
3     SAN_MARTIN_DE_PORRES     14
4              SANTA_ANITA     14
5               CARABAYLLO     12
6   SAN_JUAN_DE_LURIGANCHO      4

Debido a que las métricas de `PM10`, `PM2_5` y `NO2` son diferentes a pesar de que son iguales en DATETIME y ESTACION, se considerarán de todos modos en el análisis, ya que podría tratarse de diferentes mediciones entre una hora y otra.

## Análisis (todo)
---

In [74]:
df_clean.loc[df_clean['PM10'] > 700, 'PM10'].count()

np.int64(30)

In [75]:
df_clean['PM10'].describe()

count    380982.000000
mean         61.835134
std          46.535486
min           2.310000
25%          30.980000
50%          49.840000
75%          79.070000
max         974.000000
Name: PM10, dtype: float64

In [77]:
df_clean['PM2_5'].describe()

count    367591.000000
mean         24.253347
std          15.813837
min           1.730000
25%          13.700000
50%          20.300000
75%          30.470000
max         720.700000
Name: PM2_5, dtype: float64

In [78]:
df_clean[['PM10', 'PM2_5', 'NO2']].corr()

           PM10     PM2_5       NO2
PM10   1.000000  0.551809  0.206652
PM2_5  0.551809  1.000000  0.274573
NO2    0.206652  0.274573  1.000000

In [86]:
df_clean.loc[df_clean['PM10'] > 500, 'PM10'].count()

np.int64(128)

In [85]:
df_clean.loc[df_clean['PM2_5'] > 250, 'PM2_5'].count()

np.int64(25)

In [93]:
df_clean.loc[df_clean['NO2'] > 400, 'NO2'].count()

np.int64(0)

In [ ]:
# Buscar negativos
for col in ['PM10', 'PM2_5', 'NO2']:
    print(df_clean.loc[df_clean[col] < 0, col].count())

0
0
0

In [109]:
valor_alto = df_clean[df_clean['PM10'] > 900]
display(valor_alto.head())

,ID,ESTACION,FECHA,HORA,LONGITUD,LATITUD,ALTITUD,PM10,PM2_5,NO2,DEPARTAMENTO,PROVINCIA,DISTRITO,UBIGEO,FECHA_CORTE,DATETIME,ANIO,MES,DIA
514026,514027,VILLA_MARIA_DEL_TRIUNFO,2017-02-21,11:00:00,-76.92,-12.1664,272.0,974.00,74.9,13.5,LIMA,LIMA,VILLA_MARIA_DEL_TRIUNFO,150143.0,20240531,2017-02-21 11:00:00,2017,2,21
523306,523307,VILLA_MARIA_DEL_TRIUNFO,2018-03-15,03:00:00,-76.92,-12.1664,272.0,969.00,61.5,37.6,LIMA,LIMA,VILLA_MARIA_DEL_TRIUNFO,150143.0,20240531,2018-03-15 03:00:00,2018,3,15
543750,543751,VILLA_MARIA_DEL_TRIUNFO,2020-07-13,23:00:00,-76.92,-12.1664,272.0,909.80,NaN,42.0,LIMA,LIMA,VILLA_MARIA_DEL_TRIUNFO,150143.0,20240531,2020-07-13 23:00:00,2020,7,13
543751,543752,VILLA_MARIA_DEL_TRIUNFO,2020-07-14,00:00:00,-76.92,-12.1664,272.0,930.36,NaN,40.9,LIMA,LIMA,VILLA_MARIA_DEL_TRIUNFO,150143.0,20240531,2020-07-14 00:00:00,2020,7,14

## Nueva sección xd
---

In [64]:
df_clean['ANIO'].value_counts().sort_index()

ANIO
2015    61285
2016    61488
2017    61320
2018    61320
2019    61320
2020    61488
2021    61320
2022    61320
2023    61320
2024    25613
Name: count, dtype: int64

In [65]:
df_clean['ESTACION'].value_counts()

ESTACION
CAMPO_DE_MARTE             82542
CARABAYLLO                 82542
SANTA_ANITA                82542
SAN_BORJA                  82542
SAN_JUAN_DE_LURIGANCHO     82542
SAN_MARTIN_DE_PORRES       82542
VILLA_MARIA_DEL_TRIUNFO    82542
Name: count, dtype: int64

In [66]:
df_clean[['PM10', 'PM2_5', 'NO2']].mean()

PM10     61.835134
PM2_5    24.253347
NO2      22.532890
dtype: float64