# Examen Parcial
---

In [ ]:
%pip install numpy
%pip install pandas
%pip install seaborn
%pip install matplotlib

## Cargar librerías
---

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## Cargar dataset
---

In [5]:
df = pd.read_csv('data/data_concytec.csv', sep=';')
df.head()

,FECHA_CORTE,CODIGO_ORDEN,ANIO,CONVENIO,TIPO_SUBVENCION,TIPO_CONVOCATORIA,CONVOCATORIA,ESQUEMA_FINANCIERO,ENTIDAD_EJECUTORA_SUBVENCIONADO,TIPO_ENTIDAD,SEXO,DESCRIPCION,MONEDA,MONTO,IMPORTE_FONDECYT,DEPARTAMENTO,PROVINCIA,DISTRITO,UBIGEO
0,20240530,01031-2015,2015,ERANet-LAC,PROYECTOS INVESTIGACIÓN,INVESTIGACIÓN CIENTÍFICA,ERANet-LAC - EF-035 - EraNet-Lac - 2014-01,E035 - ERANet LAC - Proyectos de Investigación...,WAIRA ENERGIA S.A.C.,EMPRESA,MASCULINO,Efficient energy management industrial microgr...,EURO,52140.0,182490.0,LIMA,LIMA,SAN BORJA,150130
1,20240530,01034-2015,2015,ERANet-LAC,PROYECTOS INVESTIGACIÓN,INVESTIGACIÓN CIENTÍFICA,ERANet-LAC - EF-035 - EraNet-Lac - 2014-01,E035 - ERANet LAC - Proyectos de Investigación...,UNIVERSIDAD PERUANA CAYETANO HEREDIA,UNIVERSIDAD,FEMENINO,Recognition of the primary infection by Pheumo...,EURO,100000.0,350000.0,LIMA,LIMA,SAN BORJA,150130
2,20240530,01037-2015,2015,ERANet-LAC,PROYECTOS INVESTIGACIÓN,INVESTIGACIÓN CIENTÍFICA,ERANet-LAC - EF-035 - EraNet-Lac - 2014-01,E035 - ERANet LAC - Proyectos de Investigación...,UNIVERSIDAD PERUANA DE CIENCIAS APLICADAS,UNIVERSIDAD,MASCULINO,Detecting drug resistant Mycobacterium Tubercu...,EURO,49943.0,174800.5,LIMA,LIMA,SAN BORJA,150130
3,20240530,01040-2015,2015,ERANet-LAC,PROYECTOS INVESTIGACIÓN,INVESTIGACIÓN CIENTÍFICA,ERANet-LAC - EF-035 - EraNet-Lac - 2014-01,E035 - ERANet LAC - Proyectos de Investigación...,UNIVERSIDAD PERUANA CAYETANO HEREDIA,UNIVERSIDAD,FEMENINO,Screening marine microalgae and terrestrial ba...,EURO,100000.0,350000.0,LIMA,LIMA,SAN BORJA,150130
4,20240530,01043-2015,2015,ERANet-LAC,PROYECTOS INVESTIGACIÓN,INVESTIGACIÓN CIENTÍFICA,ERANet-LAC - EF-035 - EraNet-Lac - 2014-01,E035 - ERANet LAC - Proyectos de Investigación...,UNIVERSIDAD PERUANA CAYETANO HEREDIA,UNIVERSIDAD,MASCULINO,Detecting drug resistant Mycobacterium Tubercu...,EURO,70000.0,245000.0,LIMA,LIMA,SAN BORJA,150130

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 909 entries, 0 to 908
Data columns (total 19 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   FECHA_CORTE                      909 non-null    int64
 1   CODIGO_ORDEN                     909 non-null    object
 2   ANIO                             909 non-null    int64
 3   CONVENIO                         909 non-null    object
 4   TIPO_SUBVENCION                  909 non-null    object
 5   TIPO_CONVOCATORIA                909 non-null    object
 6   CONVOCATORIA                     909 non-null    object
 7   ESQUEMA_FINANCIERO               909 non-null    object
 8   ENTIDAD_EJECUTORA_SUBVENCIONADO  909 non-null    object
 9   TIPO_ENTIDAD                     909 non-null    object
 10  SEXO                             909 non-null    object
 11  DESCRIPCION                      909 non-null    object
 12  MONEDA                           909 non-null    object
 13  MONTO                            909 non-null    float64
 14  IMPORTE_FONDECYT                 909 non-null    float64
 15  DEPARTAMENTO                     909 non-null    object
 16  PROVINCIA                        909 non-null    object
 17  DISTRITO                         909 non-null    object
 18  UBIGEO                           909 non-null    int64
dtypes: float64(2), int64(3), object(14)
memory usage: 135.1+ KB

In [7]:
df.describe()

       FECHA_CORTE        ANIO         MONTO  IMPORTE_FONDECYT     UBIGEO
count        909.0   909.00000  9.090000e+02       9.090000e+02     909.0
mean    20240530.0  2018.29703  4.563861e+05       4.646335e+05  150130.0
std            0.0     1.82367  5.196587e+05       5.154120e+05       0.0
min     20240530.0  2015.00000  1.409900e+04       1.409900e+04  150130.0
25%     20240530.0  2018.00000  1.499700e+05       1.996160e+05  150130.0
50%     20240530.0  2018.00000  3.499999e+05       3.500000e+05  150130.0
75%     20240530.0  2020.00000  4.000000e+05       4.000000e+05  150130.0
max     20240530.0  2021.00000  3.399200e+06       3.399200e+06  150130.0

In [8]:
print("Columnas del dataset")
print(df.columns.to_list())

Columnas del dataset
['FECHA_CORTE', 'CODIGO_ORDEN', 'ANIO', 'CONVENIO', 'TIPO_SUBVENCION', 'TIPO_CONVOCATORIA', 'CONVOCATORIA', 'ESQUEMA_FINANCIERO', 'ENTIDAD_EJECUTORA_SUBVENCIONADO', 'TIPO_ENTIDAD ', 'SEXO', 'DESCRIPCION', 'MONEDA', 'MONTO', 'IMPORTE_FONDECYT ', 'DEPARTAMENTO', 'PROVINCIA', 'DISTRITO', 'UBIGEO']